* {
  color: #777777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 0%;
  margin-right: 0%;
}

#h1_1th {
  background-color: #4aaaa5;
  color: #ffffff;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 40px;
}

#div_header {
  background-color: #f8f9fa;
}

#h1_2nd {
  color: #4aaaa5;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 20px;
  padding-bottom: 50px;
  height: 60px;
  border-bottom: solid 3px #cccccc;
}

#central_box {
  background-color: #ffffff;
  border: solid 2px #d8d7d7;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 80px;
}

#id_section {
  margin: 20px 3% 40px 2%;
}

footer {
  background-color: #666666;
  border-top: solid 7px #4aaaa5;
  text-align: center;
  height: 25px;
  padding-top: 20px;
  padding-bottom: 30px;
  bottom: 0%;
  color: #b9b7b7;
}

#submit {
  background-color: #4aaaa5;
  color: white;
}

h2 {
  width: 94%;
  height: 30%;
  background-color: #4aaaa5;
  text-align: center;
  padding-top: 5%;
  position: absolute;
  left: 1.5%;
  bottom: 8%;
  color: #ffffff;
  border-top: solid 1px #bdbbbb;
  border-bottom: solid 1px #bdbbbb;
}

.img_portfolio {
  position: relative;
  padding: 0;
}

#picture {
  width: 97%;
}

.col_form {
  padding-right: 0;
  padding-left: 1%;
}

.div_pict {
  padding-left: 1%;
}

.navbar {
  padding: 0;
}

#div_navbar {
  margin: auto;
  padding: 0;
}
