* {
  color: #777777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 0%;
  margin-right: 0%;
}

#h1_1th {
  background-color: #4aaaa5;
  color: #ffffff;
  margin: 0 auto;
  margin-left: 16%;
  margin-right: 10%;
  padding: 10px 4% 10px 4%;
  text-align: center;
  font-size: 40px;
}

.menu {
  margin-right: 38%;
}

#h1_2nd {
  /* clear: both; */
  color: #4aaaa5;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 20px;
  /* padding-bottom: 10px; */
  height: 60px;
  border-bottom: solid 3px #cccccc;
}

#central_box {
  background-color: #ffffff;
  border: solid 2px #d8d7d7;
  margin: auto;
  margin-top: 20px;
}

#picture {
  width: 100%;
  /* height: 18%; */
  /* float: left; */
  margin-right: 3%;
  margin-bottom: 2%;
}

#id_section {
  margin: 20px 3% 40px 2%;
  /* margin-left: 2%;
    margin-right: 3%;
    padding-bottom: 2%; */
  /* width: 94%; */
}

footer {
  background-color: #666666;
  border-top: solid 7px #4aaaa5;
  text-align: center;
  height: 25px;
  padding-top: 20px;
  padding-bottom: 30px;
  /* position: fixed; */
  bottom: 0%;
  /* width: 100%; */
  color: #b9b7b7;
}

#submit {
  background-color: #4aaaa5;
  color: white;
}
