* {
  color: #777777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 0%;
  margin-right: 0%;
}

#h1_1th {
  background-color: #4aaaa5;
  color: #ffffff;
  margin: 0 auto;
  margin-left: 16.66%;
  margin-right: 5%;
  padding: 10px 4% 10px 4%;
  text-align: center;
  font-size: 40px;
}

#h1_2nd {
  /* clear: both; */
  color: #4aaaa5;
  margin-left: 3%;
    margin-right: 3%;
    padding-top: 20px;
    height: 60px;
  border-bottom: solid 3px #cccccc;
}

#central_box {
  background-color: #ffffff;
  border: solid 2px #d8d7d7;
  margin: auto;
  margin-top: 20px;
}

#picture {
    width: 100%;
    /* height: 18%; */
    /* float: left; */
    margin-right: 3%;
    margin-bottom: 2%;
  }
